<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Agenda</title>

</head>
<style>
            #calendar .fc-time {
                border-right: 1px solid black;
            }

            #calendar {
                height: 100%;
            }

            #calendar tr {
                /* border-bottom: 1px solid grey; */
                height: auto;
            }
            #calendar td {
                border-bottom: 1px solid grey;
                width: auto;
                height: 30px;
                max-height: 50px;
            }

            .fc-calendar {
                max-height: 630px;
                overflow-y: scroll;
            }

            #calendar .cours {
                width: auto;
            }

            .affichage {
                height: 70vh
            }

            #div_btnPrecedent {
                border-right: 1px solid black;padding: 5px;
            }
            
            #btnPrecedent {
                width: 100%;height: 100%;margin: 0px;
            }

            #div_btnSuivant {
border-left: 1px solid black;padding: 5px;            }
            
            #btnSuivant {
width: 100%;height: 100%;margin: 0px;            }

            </style>
<body>
    <div id="app">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i width="30" height="30" class="d-inline-block align-top material-icons">event</i>
                AppAgenda
            </a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{ date }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
<a href="http://127.0.0.1:8000/cours/new_forcalendar" id="btnAddCours"class="nav-link">Ajouter un cours</a>
                        </li>
                <li class="nav-item">
<a href="http://127.0.0.1:8000/matiere/new_forcalendar" id="btnAddCours"class="nav-link">Ajouter une matiere</a>                </li>
                
                </ul>
            </div>
            </nav>
        <br>
            
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row affichage">
                        <div id="div_btnPrecedent" class="col-2 text-center">
                            <button id="btnPrecedent" type="button" class="btn btn-light"
                                @click="getCoursOfTheDayBefore()">Précédent</button>
                        </div>
                        <div class="col-8">
                            <div>
                                <div class="fc-calendar">
                                    <table id="calendar" class="">
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="div_btnSuivant" class="col-2 text-center">
                            <button id="btnSuivant" type="button" class="btn btn-light"
                                @click="getCoursOfTheDayAfter()">Suivant</button>
                        </div>
                    </div>

                    <br><br><br><br><br><br><br><br>  
                                        
                    <div class="row">
                        <div class="col-8">
                            <center>
                                <h1>Note ton prof!</h1>
                            </center>
                            <div class="row">
                                <div class="col-6" v-for="professeur in professeurs">
                                    <div class="card" :class="{'bg-secondary' : professeur === professeurSelectionne}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ professeur.nom }} {{ professeur.prenom }}</h5>
                                            <p class="card-text">
            
                                            </p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <div class="row">
                                                <div class="col-8">
                                                    {{ professeur.email }}
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-primary"
                                                        v-on:click="getProfesseursAvis(professeur.id)">Avis</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="professeurSelectionne != null" class="col-4">
                            <h2>Avis de {{ professeurSelectionne.nom }} {{ professeurSelectionne.prenom}}</h2>
                            <div v-if="profNotes.includes(professeurSelectionne)" class="alert alert-success">Votre avis a été enregistré</div>
                            <div v-else class="card" >                    
                                <div class="card-body">
                                    <h5 class="card-title">Nouvel avis</h5>
                                    <form v-on:submit.prevent="putProfesseurAvis()">
                                        <div class="form-group">
                                            <label >Note</label>
                                            <select class="form-control" v-model="nouvelAvis.note">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <label>Commentaire</label>
                                            <textarea required class="form-control" v-model="nouvelAvis.commentaire"></textarea>
                                        </div>
                                        <div class="form-group" >
                                            <label>Email</label>
                                            <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Ajouter un avis" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card" v-for="unAvis in avis">
                                <div class="card-body">
                                    <h5 class="card-title">Note : {{ unAvis.note}} / 5</h5>
                                    <p class="card-text">{{ unAvis.commentaire }}</p>
                                    <button @click="deleteAvis(unAvis)" v-if="mesAvis.includes(unAvis)" class="btn btn-danger">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            // calendar: '#calendar',
            data: {
                apiBase: 'http://127.0.0.1:8000/api',
                professeurs: [],
                profNotes: [],
                professeurSelectionne: null,
                avis: [],
                nouvelAvis: {},
                mesAvis: [],
                cours: [],
                date: null,
                dateDuJour: null,
                calendrier: document.getElementById("calendar"),
            },
            methods: {
                getProfesseurs: function () {
                    axios.get(this.apiBase + '/professeurs')
                        .then(response => {
                            this.professeurs = response.data;
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getProfesseursAvis: function (professeurId) {
                    this.nouvelAvis = {
                        note: 0,
                        commentaire: "",
                        emailEtudiant: "",
                    }
                    axios.get(this.apiBase + '/professeur/' + professeurId + '/avis')
                        .then(response => {
                            this.avis = response.data;
                            this.professeurSelectionne = this.professeurs.find(professeur => professeur
                                .id === professeurId)
                        }).catch(error => {
                            console.log(error);
                        });
                },
                putProfesseurAvis: function () {
                    axios.put(this.apiBase + '/professeur/' + this.professeurSelectionne.id + '/avis', this
                            .nouvelAvis)
                        .then(response => {
                            this.avis.push(response.data)
                            this.profNotes.push(this.professeurSelectionne)
                            this.mesAvis.push(response.data)
                        })
                        .catch(error => {
                            console.log(error);
                        })
                },
                deleteAvis: function (avis) {
                    axios.delete(this.apiBase + '/avis/' + avis.id)
                        .then(response => {
                            this.getProfesseursAvis(this.professeurSelectionne.id)
                            this.mesAvis.splice(this.mesAvis.indexOf(avis), 1)
                            this.profNotes.splice(this.profNotes.indexOf(this.professeurSelectionne), 1)
                        }).catch(error => {
                            console.log(error);
                        })
                },
                getDateFormatISO: function (date) {
                    time_array = date.split(" ");
                    innerDayFull = time_array[0].split('-');
                    innerDay = innerDayFull[0];
                    innerMonth = innerDayFull[1];
                    innerYear = innerDayFull[2];
                    heure_array = time_array[1].split(":");
                    
                    minute = heure_array[1];
                    heure = heure_array[0];                    

                    return innerYear + '-'+ innerMonth + '-'+ innerDay + 'T' + heure + ':'+minute+':00Z';
                },
                getDateFormat: function () {
                    return this.dateDuJour.getDate() + "-" + (parseInt(this.dateDuJour.getMonth()) + 1) +
                        "-" + this.dateDuJour.getFullYear();
                },
                setDateAuFormat: function () {
                    this.date = this.getDateFormat();
                },
                afficherCours: function () {
                    if (this.cours.length > 0) {
                        
                        // ICI FAUT RESET LE TABLEAU 
                        // $('#calendar').html('');
                        // console.log($('#calendar'));
                        // $('#calendar').load('table.html #tbody')
                        // this.calendrier = $('#calendar');
                        console.log(this.calendrier);
                        
                        $('#calendar').css('width','100%')
                        // $('#calendar tr').css('height','auto')
                        // $('#calendar td').css('border-bottom','1px solid grey')
                        // $('#calendar td').css('width','auto')
                        // $('#calendar td').css('height','30px')
                        // // $('#calendar .cours').css('')
                        // $('#calendar .cours').css('width','auto')


                        this.cours.forEach(cour => {
                            // console.log(cour);
                            // Date debut
                            heureFull = new Date(this.getDateFormatISO(cour.dateHeureDebut));
                            heure = (parseInt(heureFull.getHours())-1);                        
                            minutes = heureFull.getMinutes();
                                // format minute
                                if (minutes == 0) minutes = "00";
                                else minutes = "30";

                            heureFinFull = new Date(this.getDateFormatISO(cour.dateHeureFin));
                            heureFin = (parseInt(heureFinFull.getHours())-1);
                            minutesFin = heureFinFull.getMinutes();
                                // format minute
                                if (minutesFin == 0) minutesFin = "00";
                                else minutesFin = "30";

                            // Ecart de date
                            ecartHeure = heureFin - (parseInt(heureFull.getHours())-1);
                            ecartMinute = parseInt(minutesFin) - parseInt(minutes)
                                // format minute
                                if (ecartMinute == 0) ecartMinute = "00";
                                else ecartMinute = "30";

                            // Set row span of cours
                            rowspan = 1;
                            if (ecartMinute == 30) rowspan += 1;
                            rowspan += ecartHeure;
                            
                            //
                            // ICI IL FAUT RECUPERER LA ROW DU DEBUT DU COURT
                            // 
                            // rowDebut = $('#calendar tbody').find()
                            console.log($('#calendar tr').find("[data-time='"+heure+':'+minutes+":00']").length);
                            
                            rowDebut = document.querySelector("[data-time='"+heure+':'+minutes+":00']")                            
                            if (rowDebut) {
                                html = '<div class="row">\
                                            <div class="col-12">\
                                                <center><strong>'+cour.type.nom + ' ' + cour.matiere.titre + '-' + cour.matiere.reference+'</strong></center>\
                                            </div>\
                                            <div class="col-12">\
                                                <p>\
                                                    Salle: ' + cour.salle.numero +'<br>\
                                                    Professeur: ' + cour.professeur.nom +' '+ cour.professeur.prenom +'\
                                                </p>\
                                            </div>\
                                        </div>';
                                content = rowDebut.insertCell(1);
                                rowDebut.deleteCell(2);
                                content.style.backgroundColor = "red"
                                content.classList.add('cours');
                                $(content).attr('rowspan',rowspan);
                                // Width other tr
                                $('#calendar tr').each(function (index,element)  {
                                    if ($(element).find('td.cours').length == 0) {
                                        element.insertCell(1);                                        
                                    }
                                })
                                $(content).html(html);
                                $(content).focus();
                            
                            }
                        });
                        firsttr = $('#calendar tr .cours').scrollIntoView();
                    }
                },
                getCoursOfTheDay: function () {
                    axios.get(this.apiBase + '/cours/current')
                        .then(response => {
                            this.cours = response.data;
                            this.dateDuJour = new Date();
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getCoursOfTheDayBefore: function () {
                    this.dateDuJour.setDate(this.dateDuJour.getDate() - 1);
                    axios.get(this.apiBase + '/cours/before/' + this.getDateFormat())
                        .then(response => {
                            this.cours = response.data;
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getCoursOfTheDayAfter: function () {
                    this.dateDuJour.setDate(this.dateDuJour.getDate() + 1);
                    axios.get(this.apiBase + '/cours/after/' + this.getDateFormat())
                        .then(response => {
                            this.cours = response.data;
                            
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            },
            mounted() {
                this.getProfesseurs();
                this.getCoursOfTheDay();
                $('#calendar').html('');
                $('#calendar').load('table.html #tbody')
                console.log(this.coursHtmlArray);
                
            }
        });
    </script>
</body>

</html>