<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Agenda</title>

</head>
<style>
            #calendar .fc-time {
                border-right: 1px solid black;
            }

            #calendar {
                height: 100%;
            }

            #calendar tr {
                /* border-bottom: 1px solid grey; */
                height: auto;
            }
            #calendar td {
                border-bottom: 1px solid grey;
                width: auto;
                height: 30px;
                max-height: 50px;
            }

            .fc-calendar {
                max-height: 630px;
                overflow-y: scroll;
            }

            #calendar .cours {
                width: auto;
            }
            </style>
<body>
    <div id="app">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i width="30" height="30" class="d-inline-block align-top material-icons">event</i>
                AppAgenda
            </a>
        </nav>
        <div class="row text-center">
            <div class="col-12">
                <h2>
                    <i class="material-icons large" style="display: block;font-size: 50px;">event</i>
                    Agenda
                </h2>
            </div>
            <div class="col-12">
                <h2>
                    {{ date }}
                </h2>
            </div>
        </div>
        <br>
            
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="height: 70vh">
                        <div class="col-12">
                            <div class="col">
                                <button id="btnAddCours" type="button" class="btn btn-info">Ajouter un cours</button>
                            </div>
                        </div>
                        <div id="div_btnPrecedent" class="col-2 text-center"
                            style="border-right: 1px solid black;padding: 5px; ">
                            <button id="btnPrecedent" type="button" class="btn btn-light"
                                style="width: 100%;height: 100%;margin: 0px;"
                                @click="getCoursOfTheDayBefore()">Précédent</button>
                        </div>
                        <div class="col-8">
                            <div>
                                <div class="fc-calendar">
                                    <table id="calendar" class="">
                                        <tbody>
                                            <tr data-time="00:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>24h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="00:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>

                                            <tr data-time="01:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>1h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="01:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="02:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>2h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="02:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="03:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>3h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="03:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="04:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>4h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="04:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="05:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>5h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="05:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="06:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>6h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="06:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="07:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>7h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="07:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="08:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>8h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="08:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="09:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>9h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="09:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="10:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>10h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="10:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="11:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>11h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="11:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="12:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>12h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="12:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="13:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>13h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="13:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="14:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>14h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="14:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="15:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>15h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="15:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="16:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>16h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="16:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="17:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>17h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="17:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="18:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>18h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="18:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="19:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>19h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="19:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="20:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>20h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="20:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="21:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>21h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="21:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="22:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>22h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="22:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="23:00:00">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                    <span>23h</span></td>
                                                <td class="fc-content"></td>
                                            </tr>
                                            <tr data-time="23:30:00" class="fc-minor">
                                                <td class="fc-axis fc-time" style="width: 46.5156px;">
                                                </td>
                                                <td class="fc-content"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="div_btnSuivant" class="col-2 text-center"
                            style="border-left: 1px solid black;padding: 5px; ">
                            <button id="btnSuivant" type="button" class="btn btn-light"
                                style="width: 100%;height: 100%;margin: 0px;"
                                @click="getCoursOfTheDayAfter()">Suivant</button>
                        </div>
                    </div>

                    <br><br><br><br><br><br><br><br>  
                                        
                    <div class="row">
                        <div class="col-8">
                            <center>
                                <h1>Note ton prof!</h1>
                            </center>
                            <div class="row">
                                <div class="col-6" v-for="professeur in professeurs">
                                    <div class="card" :class="{'bg-secondary' : professeur === professeurSelectionne}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ professeur.nom }} {{ professeur.prenom }}</h5>
                                            <p class="card-text">
            
                                            </p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <div class="row">
                                                <div class="col-8">
                                                    {{ professeur.email }}
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-primary"
                                                        v-on:click="getProfesseursAvis(professeur.id)">Avis</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="professeurSelectionne != null" class="col-4">
                            <h2>Avis de {{ professeurSelectionne.nom }} {{ professeurSelectionne.prenom}}</h2>
                            <div v-if="profNotes.includes(professeurSelectionne)" class="alert alert-success">Votre avis a été enregistré</div>
                            <div v-else class="card" >                    
                                <div class="card-body">
                                    <h5 class="card-title">Nouvel avis</h5>
                                    <form v-on:submit.prevent="putProfesseurAvis()">
                                        <div class="form-group">
                                            <label >Note</label>
                                            <select class="form-control" v-model="nouvelAvis.note">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <label>Commentaire</label>
                                            <textarea required class="form-control" v-model="nouvelAvis.commentaire"></textarea>
                                        </div>
                                        <div class="form-group" >
                                            <label>Email</label>
                                            <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Ajouter un avis" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card" v-for="unAvis in avis">
                                <div class="card-body">
                                    <h5 class="card-title">Note : {{ unAvis.note}} / 5</h5>
                                    <p class="card-text">{{ unAvis.commentaire }}</p>
                                    <button @click="deleteAvis(unAvis)" v-if="mesAvis.includes(unAvis)" class="btn btn-danger">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                apiBase: 'http://127.0.0.1:8000/api',
                professeurs: [],
                profNotes: [],
                professeurSelectionne: null,
                avis: [],
                nouvelAvis: {},
                mesAvis: [],
                cours: [],
                date: null,
                dateDuJour: null,
                calendrier: document.getElementById("calendar"),
            },
            methods: {
                getProfesseurs: function () {
                    axios.get(this.apiBase + '/professeurs')
                        .then(response => {
                            this.professeurs = response.data;
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getProfesseursAvis: function (professeurId) {
                    this.nouvelAvis = {
                        note: 0,
                        commentaire: "",
                        emailEtudiant: "",
                    }
                    axios.get(this.apiBase + '/professeur/' + professeurId + '/avis')
                        .then(response => {
                            this.avis = response.data;
                            this.professeurSelectionne = this.professeurs.find(professeur => professeur
                                .id === professeurId)
                        }).catch(error => {
                            console.log(error);
                        });
                },
                putProfesseurAvis: function () {
                    axios.put(this.apiBase + '/professeur/' + this.professeurSelectionne.id + '/avis', this
                            .nouvelAvis)
                        .then(response => {
                            this.avis.push(response.data)
                            this.profNotes.push(this.professeurSelectionne)
                            this.mesAvis.push(response.data)
                        })
                        .catch(error => {
                            console.log(error);
                        })
                },
                deleteAvis: function (avis) {
                    axios.delete(this.apiBase + '/avis/' + avis.id)
                        .then(response => {
                            this.getProfesseursAvis(this.professeurSelectionne.id)
                            this.mesAvis.splice(this.mesAvis.indexOf(avis), 1)
                            this.profNotes.splice(this.profNotes.indexOf(this.professeurSelectionne), 1)
                        }).catch(error => {
                            console.log(error);
                        })
                },
                getDateFormatISO: function (date) {
                    time_array = date.split(" ");
                    innerDayFull = time_array[0].split('-');
                    innerDay = innerDayFull[0];
                    innerMonth = innerDayFull[1];
                    innerYear = innerDayFull[2];
                    heure_array = time_array[1].split(":");
                    
                    minute = heure_array[1];
                    heure = heure_array[0];

                    return innerYear + '-'+ innerMonth + '-'+ innerDay + 'T' + heure + ':'+minute+':00Z';
                },
                getDateFormat: function () {
                    return this.dateDuJour.getDate() + "-" + (parseInt(this.dateDuJour.getMonth()) + 1) +
                        "-" + this.dateDuJour.getFullYear();
                },
                setDateAuFormat: function () {
                    this.date = this.getDateFormat();
                },
                afficherCours: function () {
                    if (this.cours.length > 0) {
                        this.cours.forEach(cour => {
                            console.log(cour);
                            console.log(this.calendrier);
                            // Date debut
                            heureFull = new Date(this.getDateFormatISO(cour.dateHeureDebut));
                            heure = (parseInt(heureFull.getHours())-1);                        
                            minutes = heureFull.getMinutes();
                                // format minute
                                if (minutes == 0) minutes = "00";
                                else minutes = "30";
                            heureFinFull = new Date(this.getDateFormatISO(cour.dateHeureFin));
                            heureFin = (parseInt(heureFinFull.getHours())-1);
                            minutesFin = heureFinFull.getMinutes();
                                // format minute
                                if (minutesFin == 0) minutesFin = "00";
                                else minutesFin = "30";

                            console.log('debut :'+(parseInt(heureFull.getHours())-1)+':'+minutes);
                            console.log('fin :'+heureFin+':'+minutesFin);
                            console.log('heure debut:'+(parseInt(heureFull.getHours())-1) );
                            // Ecart de date
                            ecartHeure = heureFin - (parseInt(heureFull.getHours())-1);
                            ecartMinute = parseInt(minutesFin) - parseInt(minutes)
                                // format minute
                                if (ecartMinute == 0) ecartMinute = "00";
                                else ecartMinute = "30";

                            // Set row span of cours
                            rowspan = 1;
                            if (ecartMinute == 30) rowspan += 1;
                            rowspan += ecartHeure;
                            console.log('rowspan :'+rowspan);
                            
                            // rowDebut = $('#calendar tbody').find()
                            rowDebut = document.querySelector("[data-time='"+heure+':'+minutes+":00']")
                            if (rowDebut) {
                                /*html = '<div class="row">\
                                    <div class="col-2">\
                                        <center>'+cour.type.nom+'</center>\
                                    </div>\
                                    <div class="col-2 row">\
                                        <center>\
                                        <div class="col-12">Salle :</div>\
                                        <div class="col-12">'+cour.salle.numero+'</div>\
                                        </center>\
                                    </div>\
                                    <div class="col-8 row">\
                                        <div class="col-12">\
                                           '+ cour.matiere.titre + '-' + cour.matiere.reference+'\
                                        </div>\
                                        <div class="col-12">\
                                            Professeur : '+ cour.professeur.nom +'\
                                        </div>\
                                    </div>\
                                </div>';*/
                                html = '<div class="row">\
                                            <div class="col-12">\
                                                <center><strong>'+cour.type.nom + ' ' + cour.matiere.titre + '-' + cour.matiere.reference+'</strong></center>\
                                            </div>\
                                            <div class="col-12">\
                                                <p>\
                                                    Salle: ' + cour.salle.numero +'<br>\
                                                    Professeur: ' + cour.professeur.nom +' '+ cour.professeur.prenom +'\
                                                </p>\
                                            </div>\
                                        </div>';
                                // html = '<div class="card"><div class="card-body">'+
                                //                 '<h5 class="card-title"><strong>'+cour.type.nom+' | '+
                                //                         cour.matiere.titre +' - '+ cour.matiere.reference +'</strong></h5><br>'+
                                //                 '<p class="card-text">' +
                                //                     cour.dateHeureDebut +'<br>'+cour.dateHeureFin +'<br></p><p>'+
                                //                     'Salle: '+ cour.salle.numero  +
                                //                     'Professeur: '+cour.professeur.nom +' '+cour.professeur.prenom +
                                //                     '</p></div><div class="card-footer text-muted"><div class="row"><div class="col-8"></div><div class="col-4">\
                                //                         <button class="btn btn-primary"\
                                //                             v-on:click="getAvisByProfesseurId(professeur.id)">Avis</button>\
                                //                     </div>\
                                //                 </div>\
                                //             </div>\
                                //         </div>';
                                content = rowDebut.insertCell(1);
                                rowDebut.deleteCell(2);
                                console.log(rowDebut.cells);
                                content.style.backgroundColor = "red"
                                content.classList.add('cours');
                                $(content).attr('rowspan',rowspan);
                                // Width Cours
                                $('#calendar tr').each(function (index,element)  {
                                    if ($(element).find('td.cours').length == 0) {
                                        element.insertCell(1);
                                        console.log((element));
                                        
                                    }
                                })
                                // console.log(nbCours);
                                
                                $(content).html(html);
                                $(content).focus();
                                console.log();
                            
                            }
                        });
                    }
                },
                getCoursOfTheDay: function () {
                    axios.get(this.apiBase + '/cours/current')
                        .then(response => {
                            this.cours = response.data;
                            this.dateDuJour = new Date();
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getCoursOfTheDayBefore: function () {
                    this.dateDuJour.setDate(this.dateDuJour.getDate() - 1);
                    axios.get(this.apiBase + '/cours/before/' + this.getDateFormat())
                        .then(response => {
                            this.cours = response.data;
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                getCoursOfTheDayAfter: function () {
                    this.dateDuJour.setDate(this.dateDuJour.getDate() + 1);
                    axios.get(this.apiBase + '/cours/after/' + this.getDateFormat())
                        .then(response => {
                            this.cours = response.data;
                            this.setDateAuFormat();
                            this.afficherCours();
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            },
            mounted() {
                this.getProfesseurs();
                this.getCoursOfTheDay();
            }
        });
    </script>
</body>

</html>