{% extends 'base.html.twig' %}

{% block title %}Nouvelle matière{% endblock %}

{% block body %}
    <div class="container">
    <br>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une matière</h4>
                <p class="card-text">
                    {{ include('matiere/_form.html.twig') }}
                <center>
                    <br><a href="{{ path('vuejs') }}" class="btn btn-secondary">Annuler</a>
                </center>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
