{% extends 'base.html.twig' %}

{% block title %}New Professeur{% endblock %}

{% block body %}
<div class="container"><br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Créer nouveau Professeur</h4>
            <p class="card-text">
                {{ include('professeur/_form.html.twig') }}
                <a href="{{ path('professeur_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
