{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
<div class="container"><br>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Créer nouveau Cours</h4>
            <p class="card-text">
                {{ include('cours/_form.html.twig') }}
                <a href="{{ path('cours_index') }}">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
